
.maincomma
{
margin-bottom: 5%;
}
.maincommacoder
{
	margin-top: 8%;
}
.maincommacoder button
{
	background-color: rgb(47, 42, 183);
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding: 8px 20px;
	border-radius: 5px;
	border: 0px;
}

.commarightbutton button
{
	background-color: rgb(47, 42, 183);
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding: 8px 20px;
	border-radius: 5px;
	border: 0px;
}
.commaleftbutton button
{
	background-color: rgb(47, 42, 183);
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding: 8px 20px;
	border-radius: 5px;
	border: 0px;
}
.commacrossbutton button
{
	background-color: rgb(210, 41, 49);
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding: 8px 20px;
	border-radius: 5px;
	border: 0px;
}