.hero-section {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 150px 0;
    text-align: center;
}
.service-card {
    transition: transform 0.3s;
    height: 100%;
}
.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.tech-icon {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #0d6efd;
}
section {
    padding: 80px 0;
}
.bg-light-blue {
    background-color: #f8f9fa;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
