@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

body {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tech-icon {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #0d6efd;
}

section {
    padding: 40px 0;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 140px;
    right: 40px;
    background-color: #1826EE;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}


/* ========================== */
.nav-main {
    background-color: #ffffffbb;
    border-radius: 50px;
    box-shadow: 0 2px 0px rgba(24, 38, 238, 0.438);
}

.main-menu {
    /* background-color: rgba(222, 0, 0, 0.774); */
    /* border-radius: 50px;
    padding: 1px 25px; */

}

.nav-menu .nav-link {
    color: #1826EE;
    font-weight: 500;
}

.nav-menu .nav-link:hover {
    color: #1826EE;
    font-weight: 500;
}

.nav-login a {
    color: #1826EE;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #1826EE;
    padding: 8px 20px;
    border-radius: 25px;
}

/* dropdown  */
/* Prevent dropdown from changing navbar height */
.navbar-nav .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    background-color: #ffffffd5 !important;

}

.dropdown-menu {
    transition: opacity 0.2s ease;
}


.nav-login a:hover {
    background-color: #1826EE;
    border: 3px solid rgb(255, 255, 255);
    color: #fff;
    padding: 8px 20px;
    font-weight: bold;
}

.integration-banner {
    position: relative;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background: linear-gradient(179deg, rgba(24, 38, 238, 0.99) 0%, rgba(255, 255, 255, 1) 63%); */
    background: linear-gradient(179deg, rgba(24, 38, 238, 0.677) 0%, rgba(255, 255, 255, 1) 63%);
    border-radius: 1px 80px;
    box-shadow: 0 0 40px rgba(24, 38, 238, 0.438);
    backdrop-filter: blur(8px);
}

.content-container {
    position: relative;
    z-index: 2;
    max-width: 850px;
    padding: 2rem;
    text-align: center;
    background: #1826EE;
    background: linear-gradient(1deg, rgba(24, 38, 238, 0.677) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 1) 100%);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.content-container h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #1826EE;
    /* text-shadow: 0 0 10px rgba(24, 38, 238, 0.8); */
}

.content-container p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: #1826EE;
    font-weight: 600;
}

.btn {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(135deg, #1826EE, #4F67FF);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 8px 16px rgba(24, 38, 238, 0.4);
    transition: all 0.4s ease;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(44, 33, 201, 0.6);
    color: #1826EE;
    font-weight: bold;
    background: linear-gradient(135deg, #4F67FF, #ffffff);
}

.floating-logos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.floating-logo {
    position: absolute;
    width: 52px;
    padding: 5px;
    border-radius: 16px;
    background: #1826EE;
    background: radial-gradient(circle, rgba(63, 74, 228, 0.627) 0%, rgba(255, 255, 255, 1) 83%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 0 8px 32px rgba(255, 215, 0, 0.15);
    backdrop-filter: blur(61px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    animation: float 6s ease-in-out infinite;
    transition: transform 0.8s ease, box-shadow 0.8s ease;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.mobile-nav-bg {
    background: radial-gradient(circle, rgba(63, 74, 228, 0.862) 0%, rgba(255, 255, 255, 1) 83%, rgba(255, 255, 255, 1) 100%);
    border-radius: 2px;
}

.offcanvas-header {
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 2px 0px rgba(24, 38, 238, 0.438);

}

.navbar-nav a {
    color: #000 !important;
    text-align: center;
    align-items: start;
}

.btn-close {
    background-color: #1826EE !important;
}

/* Responsive */
@media (max-width: 768px) {
    .content-container h3 {
        font-size: 1.1rem;
    }

    .floating-logo {
        width: 36px;
        padding: 6px;
    }

    .content-container {
        max-width: 360px;
    }

    .integration-banner {

        border-radius: 1px 15px;
    }

    .nav-main {
        background-color: #ffffffbb;
        border-radius: 0px 0px 15px 15px;
        box-shadow: 0 2px 0px rgba(24, 38, 238, 0.438);
    }
}

.navbar-toggler-icon {
    background-color: #1826EE;
    padding: 2px;
    border-radius: 4px;
    color: #fff !important;
}

/* ======================================= */

.glass-card {
    position: relative;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    overflow: hidden;
    z-index: 1;
}

/* Gradient border simulation */
.glass-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    padding: 3px;
    background: linear-gradient(to right, black, #1826EE);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

/* Animated dot */
.glass-card::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    animation: moveAlongBorder 20s linear infinite;
    box-shadow: 0 0 8px rgba(24, 38, 238, 0.6);
    /* default blue glow */
    z-index: 10;
}

/* Keyframes: moving & color transition based on side */
@keyframes moveAlongBorder {
    0% {
        top: 0;
        left: 0;
        background-color: black;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    }

    25% {
        top: 0;
        left: 100%;
        transform: translate(-100%, 0);
        background-color: #1826EE;
        box-shadow: 0 0 8px rgba(24, 38, 238, 0.6);
    }

    50% {
        top: 100%;
        left: 100%;
        transform: translate(-100%, -100%);
        background-color: #1826EE;
        box-shadow: 0 0 8px rgba(24, 38, 238, 0.6);
    }

    75% {
        top: 100%;
        left: 0;
        transform: translate(0, -100%);
        background-color: black;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    }

    100% {
        top: 0;
        left: 0;
        transform: translate(0, 0);
        background-color: black;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    }
}

/* ================================================= */
.technology-shadow {
    border: 2px solid #1826EE !important;
    border-radius: 16px;
    backdrop-filter: blur(12px);
    padding: 20px;
    box-shadow: 6px 6px 15px rgba(24, 38, 238, 0.4);
}

.expertise-shadow {
    border: 2px solid #1826EE !important;
    border-radius: 16px;
    backdrop-filter: blur(12px);
    padding: 20px;
    box-shadow: 6px 6px 15px rgba(24, 38, 238, 0.4);
}

.outsourcing-shadow {
    border: 2px solid #1826EE !important;
    border-radius: 16px;
    backdrop-filter: blur(12px);
    padding: 20px;
    box-shadow: 6px 6px 15px rgba(24, 38, 238, 0.4);
}

.contact-shadow {
    border: 2px solid #1826EE !important;
    border-radius: 16px;
    backdrop-filter: blur(12px);
    padding: 20px;
    box-shadow: 6px 6px 15px rgba(24, 38, 238, 0.4);
}

.footer-copyright {
    background: linear-gradient(1deg, rgba(24, 38, 238, 0.677) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.481) 100%);
    border-radius: 1px;
    box-shadow: 0 3px 0px rgba(24, 38, 238, 0.438);
}



/* ================== custome-web-development ================= */
.web-banner {
    position: relative;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    text-shadow: 0 3px 0px rgb(13, 0, 255);
    overflow: hidden;
    border-radius: 10px;
    /* Ensure pseudo-element stays inside */
}

.web-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/asset/main/image/banner-img.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(7px);
    z-index: 1;
    border-radius: 2%;
}

/* Ensure text stays above blurred image */
.web-banner h1 {
    position: relative;
    z-index: 2;
    margin-top: 4%;
}

/* ======================================================== */

.img-container {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.tech-img {
    height: auto;
    width: 100%;
    transition: transform 1.2s ease;
    transform: translateY(0%);
}

.img-container:hover .tech-img {
    transform: translateY(-53%);
}

@media (max-width: 768px) {
    .img-container {
        height: 200px;
        overflow: hidden;
        position: relative;
    }
}

/* development roadmap  */


.timeline {
    position: relative;
    padding: 60px 0;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 7px;
    background: linear-gradient(1deg, rgba(24, 38, 238, 0.677) 0%, rgba(255, 255, 255, 0) 75%, rgba(82, 91, 195, 0.855) 100%);
    margin-left: -2px;
    animation: growLine 10s ease-out forwards;
    border-radius: 5px;
}

@keyframes growLine {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

.timeline-item {
    padding: 30px 0;
    position: relative;
}

.timeline-item::after {
    content: "";
    display: table;
    clear: both;
}

.timeline-item-left,
.timeline-item-right {
    position: relative;
    width: 48%;
    padding: 20px;
    background: white;
    border-radius: 10px;
    border: 2px solid #1826EE !important;
    backdrop-filter: blur(12px);
    box-shadow: 6px 6px 15px rgba(24, 38, 238, 0.4);
}

.timeline-item-left {
    float: left;
    text-align: right;
}

.timeline-item-right {
    float: right;
    text-align: left;
}

.timeline-icon {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1826EE;
    box-shadow: 6px 6px 15px rgba(24, 38, 238, 0.4);
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.timeline-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.timeline-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #1826EE;
}

.timeline-description {
    font-size: 0.95rem;
    color: #555;
}

@media (max-width: 767px) {
    .timeline::before {
        left: 20px;
    }

    .timeline-item-left,
    .timeline-item-right {
        width: 80%;
        float: none;
        text-align: left;
        margin-left: 40px;
    }

    .timeline-icon {
        left: 20px;
        transform: none;
    }
}

/* ======================================== */


.review-card {
    background: linear-gradient(1deg, rgba(24, 38, 238, 0.677) 0%, rgba(255, 255, 255, 0) 75%, rgba(82, 91, 195, 0.855) 100%);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.reviewer-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.star-rating {
    color: #1900ff;
    font-size: 18px;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(39, 14, 227, 0.784);
    border-radius: 50%;
    padding: 20px;
}